html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: gray;
}


.main-container {
    outline: 2px solid #f07025;
    padding: 15px;
    border-radius: 5px;
    background-color: #fafaeb;
}

.sidebar {
    background-color: #e5e5e5;
}

.options {
    background-color: #fdf8ee;
}